.xh-app {
  --appbar-bg: var(--xh-bg);
  --appbar-title-color: var(--xh-text-color);
  --black: black;
  --button-active-bg: var(--xh-orange);
  --tbar-bg: var(--xh-bg);
  --grid-group-bg: var(--xh-intent-warning);
  --grid-group-text-color: white;

  --mc-list-text-bg: rgba(255, 255, 255, 0.8);

  &.xh-dark {
    --mc-list-text-bg: rgba(0, 0, 0, 0.8);
  }

  // Workaround Chrome emulation (?) bug that makes hover color sticky.
  .ag-row-hover:not(.ag-full-width-row)::before,
  .ag-row-hover.ag-full-width-row.ag-row-group::before {
    background-color: unset;
  }

  &:not(.xh-dark) {
    //--grid-group-bg: var(--xh-text-color);
    //--grid-group-text-color: var(--xh-bg);
    --text-color: #494949;
  }

  .xh-appbar-title {
    text-transform: uppercase;
  }

  .xh-appbar.xh-toolbar .xh-button .fa-turntable {
    color: var(--xh-orange);
  }

  .xh-placeholder {
    font-family: var(--xh-font-family-mono);
  }

  .xh-button {
    text-transform: uppercase;
  }

  .ag-full-width-row {
    text-transform: uppercase;
  }

  h1,
  h2 {
    font-weight: 200;
    .xh-icon {
      margin-right: 0.4em;
    }
  }

  h2 {
    font-size: 20px;
    text-transform: uppercase;
  }

  p {
    margin: 4px 0;
    text-transform: uppercase;
  }

  // Mobile tab switcher - taller, icons only - review in Hoist
  .tabbar__content {
    height: calc(100% - 61px);
  }
  .xh-tab-container .tabbar {
    height: 60px;
  }

  .xh-tab-container .tabbar__button {
    flex-direction: column;
    height: 60px;
  }

  //------------------------
  // List styles
  //------------------------
  .mc-list {
    --ag-row-hover-color: var(--xh-bg);

    &__item {
      border-bottom: var(--xh-border-solid);
      padding: var(--xh-pad-px);
      width: 100%;
      align-items: center;

      &__data {
        flex: 1;
      }

      h1 {
        margin-bottom: 0 !important;
        margin-top: 0 !important;
        span {
          background-color: var(--mc-list-text-bg);
          padding: 4px;
        }
      }

      h2 {
        margin-top: 0 !important;
        white-space: nowrap;
        span {
          background-color: var(--mc-list-text-bg);
          padding: 0 5px 0 0;
        }
      }

      &--member,
      &--year,
      &--dateYear {
        h1 {
          color: var(--xh-orange);
          font-size: 60px;
        }
      }

      &--child {
        border-left: 5px solid var(--xh-orange);
      }
    }
  }

  //------------------------
  // Detail view styles
  //------------------------
  .mc-detail-view {
    overflow-y: auto;

    &__header {
      padding: var(--xh-pad-px);

      h1,
      h2 {
        margin-top: 0;
        margin-bottom: 0;
      }

      h2 {
        color: var(--xh-orange);
      }

      &__notes {
        font-size: 10px;
        padding: 10px;
        margin: 10px 10px 0 10px;
        border-top: 1px solid var(--xh-orange);

        p {
          text-transform: unset;
        }
      }
    }

    &__section {
      margin-bottom: var(--xh-pad-px);
      padding: var(--xh-pad-px);

      h2 {
        border-bottom: 1px solid var(--xh-orange-muted);
        margin-bottom: var(--xh-pad-px);
        padding-bottom: 2px;
      }
    }
  }
}
