.xh-app {
  .mc-meeting-view {
    .mc-song-play {
      &__data {
        h2.mc-member {
          color: var(--xh-orange);
          font-weight: 500;
          margin-bottom: 0;
        }

        .xh-icon {
          margin-right: 5px;
        }

        p {
          font-size: 0.8em;
          //white-space: nowrap;
          overflow: hidden;
        }
      }

      &--has-cover-art {
        .mc-song-play__data {
          max-width: calc(100% - 105px);
          margin-right: 5px;
        }
      }

      &__cover-art {
        border-radius: 4px;
        width: 100px;
      }
    }
  }
}
